In [4]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import os
from config import census_key
import json
import requests 
from census import Census

c = Census(census_key, year=2010)

In [5]:
# Import Accident dataset

accident_data = pd.read_csv(r'usaccidents.csv')
#accident_data.head()
len(accident_data)

# Remove columns
#del df['column_name']

2974335

In [18]:
# Get Holiday List
holiday_data = pd.read_csv(r'holidaylist.csv')
holiday_data

     Unnamed: 0        Date                              Holiday
0             0  12/31/2010                       New Year's Day
1             1   1/17/2011  Birthday of Martin Luther King, Jr.
2             2   2/21/2011                Washington's Birthday
3             3   5/30/2011                         Memorial Day
4             4    7/4/2011                     Independence Day
..          ...         ...                                  ...
480         480    9/5/1966                            Labor Day
481         481  10/12/1966                         Columbus Day
482         482  11/11/1966                         Veterans Day
483         483  11/24/1966                     Thanksgiving Day
484         484  12/25/1966                        Christmas Day

[485 rows x 3 columns]

In [17]:
# Census API

# Save config information
#url = "https://api.census.gov/data/2010/dec/sf1?get=P001001,NAME&for=us:1&key="

url = "https://api.census.gov/data/2014/pep/natstprc?get=STNAME,POP&DATE_=7&for=state:*&key="


# Build query URL
query_url = url + census_key

census_response = requests.get(query_url)
census_json = census_response.json()

census_pd = pd.DataFrame(census_json)

census_pd

                           0         1      2      3
0                     STNAME       POP  DATE_  state
1                    Alabama   4849377      7     01
2                     Alaska    736732      7     02
3                    Arizona   6731484      7     04
4                   Arkansas   2966369      7     05
5                 California  38802500      7     06
6                   Colorado   5355866      7     08
7                Connecticut   3596677      7     09
8                   Delaware    935614      7     10
9       District of Columbia    658893      7     11
10                   Florida  19893297      7     12
11                   Georgia  10097343      7     13
12                    Hawaii   1419561      7     15
13                     Idaho   1634464      7     16
14                  Illinois  12880580      7     17
15                   Indiana   6596855      7     18
16                      Iowa   3107126      7     19
17                    Kansas   2904021      7     20
18                  Kentucky   4413457      7     21
19                 Louisiana   4649676      7     22
20                     Maine   1330089      7     23
21                  Maryland   5976407      7     24
22             Massachusetts   6745408      7     25
23                  Michigan   9909877      7     26
24                 Minnesota   5457173      7     27
25               Mississippi   2994079      7     28
26                  Missouri   6063589      7     29
27                   Montana   1023579      7     30
28                  Nebraska   1881503      7     31
29                    Nevada   2839099      7     32
30             New Hampshire   1326813      7     33
31                New Jersey   8938175      7     34
32                New Mexico   2085572      7     35
33                  New York  19746227      7     36
34            North Carolina   9943964      7     37
35              North Dakota    739482      7     38
36                      Ohio  11594163      7     39
37                  Oklahoma   3878051      7     40
38                    Oregon   3970239      7     41
39              Pennsylvania  12787209      7     42
40              Rhode Island   1055173      7     44
41            South Carolina   4832482      7     45
42              South Dakota    853175      7     46
43                 Tennessee   6549352      7     47
44                     Texas  26956958      7     48
45                      Utah   2942902      7     49
46                   Vermont    626562      7     50
47                  Virginia   8326289      7     51
48                Washington   7061530      7     53
49             West Virginia   1850326      7     54
50                 Wisconsin   5757564      7     55
51                   Wyoming    584153      7     56
52  Puerto Rico Commonwealth   3548397      7     72