In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import os
from config import census_key
import json
import requests 
#from census import Census

In [2]:
# Import Accident dataset

accident_data = pd.read_csv(r'usaccidents.csv')

#accident_data.head()

In [3]:
# Drop unnecessary columns

reduced_accident_df = accident_data[["ID", "Severity", "Start_Time", "Start_Lat", "Start_Lng", "Street", "County", "State", "Zipcode", 
                                     "Weather_Timestamp", "Temperature(F)", "Wind_Chill(F)", "Humidity(%)", "Pressure(in)", 
                                     "Visibility(mi)", "Wind_Direction", "Wind_Speed(mph)", "Precipitation(in)", "Weather_Condition"]]

df = pd.DataFrame(reduced_accident_df)

df['Start_Time'] = pd.to_datetime(df['Start_Time'])

df['Start_Time'] = df['Start_Time'].apply(lambda x: x.date())


# Convert dates(object) to integers

df['Start_Time'] = pd.to_datetime(df['Start_Time'])

In [4]:
# Limit data to two-year period

start_date = "2017-01-01"
end_date = "2019-01-01"

mask = (df['Start_Time'] > start_date) & (df['Start_Time'] <= end_date)
two_year_df = df.loc[mask]
#two_year_df

In [5]:
# convert date field to integer and use for join field
new_dates = two_year_df['Start_Time'].apply(lambda x: x.strftime('%Y%m%d')).astype(int)

two_year_df['AccidentJoin'] = new_dates

# rename dataframe
accident_2_df = two_year_df

C:\Users\Matt\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [6]:
# Get Holiday List
holidays = pd.read_csv(r'holidaylist.csv')

# filter down list to 2 years 
start_date = "2017-01-01"
end_date = "2019-01-01"

holiday_df = pd.DataFrame(holidays)

# convert Date to datetime field
holiday_df['Date'] = pd.to_datetime(holiday_df['Date'])

# filter down dataframe
mask = (holiday_df['Date'] > start_date) & (holiday_df['Date'] <= end_date)
holiday_2_df = holiday_df.loc[mask]

In [7]:
#holiday_2_df

# convert date field to integer and use for join field
new_dates = holiday_2_df['Date'].apply(lambda x: x.strftime('%Y%m%d')).astype(int)

holiday_2_df['HolidayJoin'] = new_dates

#holiday_2_df

C:\Users\Matt\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [8]:
#  Merge Accident and Holiday dataframes

accident_holiday_df=accident_2_df.merge(holiday_2_df,how='left', left_on='AccidentJoin', right_on='HolidayJoin')

accident_holiday_df

,ID,Severity,Start_Time,Start_Lat,Start_Lng,Street,County,State,Zipcode,Weather_Timestamp,...,Visibility(mi),Wind_Direction,Wind_Speed(mph),Precipitation(in),Weather_Condition,AccidentJoin,Unnamed: 0,Date,Holiday,HolidayJoin
0,A-9218,2,2017-01-02,38.234737,-122.664314,Bodega Ave,Sonoma,CA,94952-1748,2017-01-02 14:15:00,...,10.0,NNW,3.5,NaN,Overcast,20170102,60.0,2017-01-02,New Year's Day,20170102.0
1,A-9219,2,2017-01-02,38.246796,-122.627808,E Washington St,Sonoma,CA,94952,2017-01-02 14:15:00,...,10.0,NNW,3.5,NaN,Overcast,20170102,60.0,2017-01-02,New Year's Day,20170102.0
2,A-9220,2,2017-01-02,38.192196,-122.543053,Old Lakeville No 2 Rd,Sonoma,CA,94954,2017-01-02 14:35:00,...,10.0,NW,3.5,NaN,Overcast,20170102,60.0,2017-01-02,New Year's Day,20170102.0
3,A-9221,3,2017-01-02,37.732292,-122.414909,I-280 S,San Francisco,CA,94110,2017-01-02 12:56:00,...,10.0,SSW,15.0,NaN,Overcast,20170102,60.0,2017-01-02,New Year's Day,20170102.0
4,A-9222,3,2017-01-02,38.211773,-122.144753,I-80 E,Solano,CA,94534,2017-01-02 14:54:00,...,10.0,SW,12.7,NaN,Mostly Cloudy,20170102,60.0,2017-01-02,New Year's Day,20170102.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1611204,A-2899410,2,2017-08-30,34.055160,-118.214070,San Bernardino Fwy E,Los Angeles,CA,90033,2017-08-30 19:47:00,...,10.0,Calm,NaN,NaN,Clear,20170830,NaN,NaT,NaN,NaN
1611205,A-2899411,2,2017-08-30,34.046740,-118.214800,I-5 N,Los Angeles,CA,90033,2017-08-30 19:47:00,...,10.0,Calm,NaN,NaN,Clear,20170830,NaN,NaT,NaN,NaN
1611206,A-2899412,3,2017-08-30,34.031850,-117.135910,I-10 E,San Bernardino,CA,92373,2017-08-30 19:50:00,...,6.0,SW,6.9,NaN,Haze,20170830,NaN,NaT,NaN,NaN
1611207,A-2899413,4,2017-08-30,34.277860,-118.608280,Ronald Reagan Fwy W,Los Angeles,CA,91311,2017-08-30 20:51:00,...,10.0,West,3.5,NaN,Clear,20170830,NaN,NaT,NaN,NaN
1611208,A-2899414,4,2017-08-30,34.324205,-118.502123,Golden State Fwy S,Los Angeles,CA,91342,2017-08-30 19:55:00,...,10.0,Calm,NaN,NaN,Clear,20170830,NaN,NaT,NaN,NaN

In [9]:
# convert state name in census data to 2 letter abbreviation
# dict taken from     https://gist.github.com/rogerallen/1583593

us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}
# create dataframe
state_info = pd.DataFrame.from_dict(us_state_abbrev, orient="index")

# reset index
state_info = state_info.reset_index()

# rename columns
state_info.columns = ['Name', 'Abbrev']

state_info

                        Name Abbrev
0                    Alabama     AL
1                     Alaska     AK
2             American Samoa     AS
3                    Arizona     AZ
4                   Arkansas     AR
5                 California     CA
6                   Colorado     CO
7                Connecticut     CT
8                   Delaware     DE
9       District of Columbia     DC
10                   Florida     FL
11                   Georgia     GA
12                      Guam     GU
13                    Hawaii     HI
14                     Idaho     ID
15                  Illinois     IL
16                   Indiana     IN
17                      Iowa     IA
18                    Kansas     KS
19                  Kentucky     KY
20                 Louisiana     LA
21                     Maine     ME
22                  Maryland     MD
23             Massachusetts     MA
24                  Michigan     MI
25                 Minnesota     MN
26               Mississippi     MS
27                  Missouri     MO
28                   Montana     MT
29                  Nebraska     NE
30                    Nevada     NV
31             New Hampshire     NH
32                New Jersey     NJ
33                New Mexico     NM
34                  New York     NY
35            North Carolina     NC
36              North Dakota     ND
37  Northern Mariana Islands     MP
38                      Ohio     OH
39                  Oklahoma     OK
40                    Oregon     OR
41              Pennsylvania     PA
42               Puerto Rico     PR
43              Rhode Island     RI
44            South Carolina     SC
45              South Dakota     SD
46                 Tennessee     TN
47                     Texas     TX
48                      Utah     UT
49                   Vermont     VT
50            Virgin Islands     VI
51                  Virginia     VA
52                Washington     WA
53             West Virginia     WV
54                 Wisconsin     WI
55                   Wyoming     WY

In [38]:
# Census API

# State
url = "https://api.census.gov/data/2010/dec/sf1?get=P001001,NAME&for=state:*&key="

# Build query URL
query_url = url + census_key

census_response = requests.get(query_url)
census_json = census_response.json()
census_state_pd = pd.DataFrame(census_json)

# Drop column labels
census_state_df = census_state_pd.drop([census_state_pd.index[0]])

# drop unwanted column
census_state_df = census_state_df.drop(census_state_df.columns[[2]], axis=1)

# rename columns
census_state_df.columns = ['Pop', 'State']

# rearrange columns
census_state_df = census_state_df[['State', 'Pop']]

#convert population to int
census_state_df['Pop'] = census_state_df['Pop'].astype(int)


#census_state_df
print (census_state_df.dtypes)

State    object
Pop       int32
dtype: object

In [30]:
# merge state abbrev to state population df
state_pop = census_state_df.merge(state_info,how='left', left_on='State', right_on='Name')

# rearrange columns
state_pop = state_pop[['State', 'Abbrev', 'Pop']]

#convert population to int
state_pop['Pop'] = state_pop['Pop'].astype(int)


state_pop

                   State Abbrev       Pop
0                Alabama     AL   4779736
1                 Alaska     AK    710231
2                Arizona     AZ   6392017
3               Arkansas     AR   2915918
4             California     CA  37253956
5              Louisiana     LA   4533372
6               Kentucky     KY   4339367
7               Colorado     CO   5029196
8            Connecticut     CT   3574097
9               Delaware     DE    897934
10  District of Columbia     DC    601723
11               Florida     FL  18801310
12               Georgia     GA   9687653
13                Hawaii     HI   1360301
14                 Idaho     ID   1567582
15              Illinois     IL  12830632
16               Indiana     IN   6483802
17                  Iowa     IA   3046355
18                Kansas     KS   2853118
19                 Maine     ME   1328361
20              Maryland     MD   5773552
21         Massachusetts     MA   6547629
22              Michigan     MI   9883640
23             Minnesota     MN   5303925
24           Mississippi     MS   2967297
25              Missouri     MO   5988927
26               Montana     MT    989415
27              Nebraska     NE   1826341
28                Nevada     NV   2700551
29         New Hampshire     NH   1316470
30            New Jersey     NJ   8791894
31            New Mexico     NM   2059179
32              New York     NY  19378102
33        North Carolina     NC   9535483
34          North Dakota     ND    672591
35                  Ohio     OH  11536504
36              Oklahoma     OK   3751351
37                Oregon     OR   3831074
38          Pennsylvania     PA  12702379
39          Rhode Island     RI   1052567
40        South Carolina     SC   4625364
41          South Dakota     SD    814180
42             Tennessee     TN   6346105
43                 Texas     TX  25145561
44                  Utah     UT   2763885
45               Vermont     VT    625741
46              Virginia     VA   8001024
47            Washington     WA   6724540
48         West Virginia     WV   1852994
49             Wisconsin     WI   5686986
50               Wyoming     WY    563626
51           Puerto Rico     PR   3725789

In [32]:
#  Merge Accident and state population dataframes

accident_pop_df = accident_holiday_df.merge(state_pop,how='left', left_on='State', right_on='Abbrev')

accident_pop_df

,ID,Severity,Start_Time,Start_Lat,Start_Lng,Street,County,State_x,Zipcode,Weather_Timestamp,...,Precipitation(in),Weather_Condition,AccidentJoin,Unnamed: 0,Date,Holiday,HolidayJoin,State_y,Abbrev,Pop
0,A-9218,2,2017-01-02,38.234737,-122.664314,Bodega Ave,Sonoma,CA,94952-1748,2017-01-02 14:15:00,...,NaN,Overcast,20170102,60.0,2017-01-02,New Year's Day,20170102.0,California,CA,37253956
1,A-9219,2,2017-01-02,38.246796,-122.627808,E Washington St,Sonoma,CA,94952,2017-01-02 14:15:00,...,NaN,Overcast,20170102,60.0,2017-01-02,New Year's Day,20170102.0,California,CA,37253956
2,A-9220,2,2017-01-02,38.192196,-122.543053,Old Lakeville No 2 Rd,Sonoma,CA,94954,2017-01-02 14:35:00,...,NaN,Overcast,20170102,60.0,2017-01-02,New Year's Day,20170102.0,California,CA,37253956
3,A-9221,3,2017-01-02,37.732292,-122.414909,I-280 S,San Francisco,CA,94110,2017-01-02 12:56:00,...,NaN,Overcast,20170102,60.0,2017-01-02,New Year's Day,20170102.0,California,CA,37253956
4,A-9222,3,2017-01-02,38.211773,-122.144753,I-80 E,Solano,CA,94534,2017-01-02 14:54:00,...,NaN,Mostly Cloudy,20170102,60.0,2017-01-02,New Year's Day,20170102.0,California,CA,37253956
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1611204,A-2899410,2,2017-08-30,34.055160,-118.214070,San Bernardino Fwy E,Los Angeles,CA,90033,2017-08-30 19:47:00,...,NaN,Clear,20170830,NaN,NaT,NaN,NaN,California,CA,37253956
1611205,A-2899411,2,2017-08-30,34.046740,-118.214800,I-5 N,Los Angeles,CA,90033,2017-08-30 19:47:00,...,NaN,Clear,20170830,NaN,NaT,NaN,NaN,California,CA,37253956
1611206,A-2899412,3,2017-08-30,34.031850,-117.135910,I-10 E,San Bernardino,CA,92373,2017-08-30 19:50:00,...,NaN,Haze,20170830,NaN,NaT,NaN,NaN,California,CA,37253956
1611207,A-2899413,4,2017-08-30,34.277860,-118.608280,Ronald Reagan Fwy W,Los Angeles,CA,91311,2017-08-30 20:51:00,...,NaN,Clear,20170830,NaN,NaT,NaN,NaN,California,CA,37253956
1611208,A-2899414,4,2017-08-30,34.324205,-118.502123,Golden State Fwy S,Los Angeles,CA,91342,2017-08-30 19:55:00,...,NaN,Clear,20170830,NaN,NaT,NaN,NaN,California,CA,37253956

In [15]:
# County data for Ohio
url = "https://api.census.gov/data/2010/dec/sf1?get=P001001,NAME&for=county:*&key="

# Build query URL
query_url = url + census_key

census_response = requests.get(query_url)
census_json = census_response.json()

census_county_pd = pd.DataFrame(census_json)

# Split county name from state

# new data frame with split value columns 
new = census_county_pd[1].str.split(", ", n = 1, expand = True) 
  
# making separate county column from new data frame 
census_county_pd["County"]= new[0] 
  
# making separate state column from new data frame 
census_county_pd["State"]= new[1] 
  
# Dropping old Name columns 
census_county_pd.drop(columns =[1], inplace = True) 

# # Drop column labels
census_county_pd = census_county_pd.drop([census_county_pd.index[0]])

# split county column - remove the word County
new2 = census_county_pd["County"].str.split(" ", n = 1, expand = True) 

# making separate county column from new data frame 
census_county_pd["County"]= new2[0] 
  
# making separate state column from new data frame 
census_county_pd["Garbage"]= new2[1] 

# Drop extra columns
census_county_pd.drop(columns =[2], inplace = True)
census_county_pd.drop(columns =[3], inplace = True)
census_county_pd.drop(columns =["Garbage"], inplace = True)

# # filter down to state of ohio
ohio_county = census_county_pd.loc[(census_county_pd['State'] == "Ohio")]

# # rename columns
ohio_county.columns = ['Pop', 'County', 'State']


# # rearrange columns
ohio_county = ohio_county[['County', 'State', 'Pop']]


ohio_county

          County State     Pop
1113   Jefferson  Ohio   69709
1114    Mahoning  Ohio  238823
1115        Lake  Ohio  230041
1116    Lawrence  Ohio   62450
1117     Licking  Ohio  166492
...          ...   ...     ...
1761  Washington  Ohio   61778
1765       Wayne  Ohio  114520
1766    Williams  Ohio   37642
1767        Wood  Ohio  125488
1768     Wyandot  Ohio   22615

[88 rows x 3 columns]

In [25]:
# read ohio square miles county csv
square_mile = pd.read_csv(r'ohiosquaremilescounty.csv')

# Merge square miles of each county into ohio_county df
ohio_sqmile_df=ohio_county.merge(square_mile,how='left', left_on='County', right_on='County')

#convert population to int
ohio_sqmile_df['Pop'] = ohio_sqmile_df['Pop'].astype(int)

# Calculate population density and add to dataframe
pop_den = ohio_sqmile_df["Pop"]/ohio_sqmile_df["SqMiles"]

ohio_sqmile_df["PopDensity"] = pop_den


ohio_sqmile

        County State     Pop  SqMiles  PopDensity
0    Jefferson  Ohio   69709    408.3       170.7
1     Mahoning  Ohio  238823    411.6       580.2
2         Lake  Ohio  230041    227.5      1011.2
3     Lawrence  Ohio   62450    453.4       137.7
4      Licking  Ohio  166492    682.5       243.9
..         ...   ...     ...      ...         ...
83  Washington  Ohio   61778    632.0        97.8
84       Wayne  Ohio  114520    554.9       206.4
85    Williams  Ohio   37642    421.0        89.4
86        Wood  Ohio  125488    617.2       203.3
87     Wyandot  Ohio   22615    406.9        55.6

[88 rows x 5 columns]

In [33]:
# Filter down accident df to only Ohio
#  accident_holiday_df

# filter down dataframe

accident_ohio = accident_holiday_df.loc[(accident_holiday_df['State']=='OH')]

accident_ohio

,ID,Severity,Start_Time,Start_Lat,Start_Lng,Street,County,State,Zipcode,Weather_Timestamp,...,Visibility(mi),Wind_Direction,Wind_Speed(mph),Precipitation(in),Weather_Condition,AccidentJoin,Unnamed: 0,Date,Holiday,HolidayJoin
16604,A-182194,2,2017-01-09,41.722279,-83.536194,N Detroit Ave,Lucas,OH,43612,2017-01-09 07:34:00,...,10.0,South,8.1,NaN,Overcast,20170109,NaN,NaT,NaN,NaN
16699,A-182289,3,2017-01-10,41.721436,-83.501366,I-75 S,Lucas,OH,43612,2017-01-10 07:14:00,...,4.0,South,6.9,NaN,Light Snow,20170110,NaN,NaT,NaN,NaN
16850,A-182440,2,2017-01-11,41.727242,-83.524315,Stickney Ave,Lucas,OH,43612,2017-01-11 08:14:00,...,7.0,SSW,6.9,NaN,Clear,20170111,NaN,NaT,NaN,NaN
16851,A-182441,2,2017-01-11,41.715591,-83.506302,N Matzinger Rd,Lucas,OH,43612,2017-01-11 08:14:00,...,7.0,SSW,6.9,NaN,Clear,20170111,NaN,NaT,NaN,NaN
17137,A-182727,2,2017-01-16,41.728321,-83.493790,Rosemar Rd,Lucas,OH,43611-1013,2017-01-16 06:54:00,...,5.0,Calm,NaN,NaN,Overcast,20170116,61.0,2017-01-16,"Birthday of Martin Luther King, Jr.",20170116.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1610798,A-2899004,2,2017-08-30,41.124679,-80.750035,I-80 E,Mahoning,OH,44440,2017-08-30 12:51:00,...,10.0,Variable,4.6,NaN,Mostly Cloudy,20170830,NaN,NaT,NaN,NaN
1610799,A-2899005,2,2017-08-30,41.123653,-80.749362,OH-11 N,Mahoning,OH,44440,2017-08-30 12:51:00,...,10.0,Variable,4.6,NaN,Mostly Cloudy,20170830,NaN,NaT,NaN,NaN
1610811,A-2899017,4,2017-08-30,41.035470,-81.561750,I-277 W,Summit,OH,44314,2017-08-30 15:54:00,...,10.0,SSW,5.8,NaN,Mostly Cloudy,20170830,NaN,NaT,NaN,NaN
1610817,A-2899023,2,2017-08-30,39.980350,-82.961440,I-670 E,Franklin,OH,43219,2017-08-30 16:51:00,...,10.0,North,4.6,NaN,Mostly Cloudy,20170830,NaN,NaT,NaN,NaN
1610820,A-2899026,2,2017-08-30,39.163240,-84.434290,I-71 N,Hamilton,OH,45209,2017-08-30 17:53:00,...,10.0,SSE,3.5,NaN,Clear,20170830,NaN,NaT,NaN,NaN

In [34]:
# merge county population with accident dataframe
# accident_ohio      ohio_county

accident_ohio_county = accident_ohio.merge(ohio_sqmile_df,how='left', left_on='County', right_on='County')

accident_ohio_county

,ID,Severity,Start_Time,Start_Lat,Start_Lng,Street,County,State_x,Zipcode,Weather_Timestamp,...,Weather_Condition,AccidentJoin,Unnamed: 0,Date,Holiday,HolidayJoin,State_y,Pop,SqMiles,PopDensity
0,A-182194,2,2017-01-09,41.722279,-83.536194,N Detroit Ave,Lucas,OH,43612,2017-01-09 07:34:00,...,Overcast,20170109,NaN,NaT,NaN,NaN,Ohio,441815.0,340.86,1296.177316
1,A-182289,3,2017-01-10,41.721436,-83.501366,I-75 S,Lucas,OH,43612,2017-01-10 07:14:00,...,Light Snow,20170110,NaN,NaT,NaN,NaN,Ohio,441815.0,340.86,1296.177316
2,A-182440,2,2017-01-11,41.727242,-83.524315,Stickney Ave,Lucas,OH,43612,2017-01-11 08:14:00,...,Clear,20170111,NaN,NaT,NaN,NaN,Ohio,441815.0,340.86,1296.177316
3,A-182441,2,2017-01-11,41.715591,-83.506302,N Matzinger Rd,Lucas,OH,43612,2017-01-11 08:14:00,...,Clear,20170111,NaN,NaT,NaN,NaN,Ohio,441815.0,340.86,1296.177316
4,A-182727,2,2017-01-16,41.728321,-83.493790,Rosemar Rd,Lucas,OH,43611-1013,2017-01-16 06:54:00,...,Overcast,20170116,61.0,2017-01-16,"Birthday of Martin Luther King, Jr.",20170116.0,Ohio,441815.0,340.86,1296.177316
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31310,A-2899004,2,2017-08-30,41.124679,-80.750035,I-80 E,Mahoning,OH,44440,2017-08-30 12:51:00,...,Mostly Cloudy,20170830,NaN,NaT,NaN,NaN,Ohio,238823.0,411.62,580.202614
31311,A-2899005,2,2017-08-30,41.123653,-80.749362,OH-11 N,Mahoning,OH,44440,2017-08-30 12:51:00,...,Mostly Cloudy,20170830,NaN,NaT,NaN,NaN,Ohio,238823.0,411.62,580.202614
31312,A-2899017,4,2017-08-30,41.035470,-81.561750,I-277 W,Summit,OH,44314,2017-08-30 15:54:00,...,Mostly Cloudy,20170830,NaN,NaT,NaN,NaN,Ohio,541781.0,412.75,1312.612962
31313,A-2899023,2,2017-08-30,39.980350,-82.961440,I-670 E,Franklin,OH,43219,2017-08-30 16:51:00,...,Mostly Cloudy,20170830,NaN,NaT,NaN,NaN,Ohio,1163414.0,532.19,2186.087675
31314,A-2899026,2,2017-08-30,39.163240,-84.434290,I-71 N,Hamilton,OH,45209,2017-08-30 17:53:00,...,Clear,20170830,NaN,NaT,NaN,NaN,Ohio,802374.0,405.91,1976.728832

In [36]:
# Zip
url = "https://api.census.gov/data/2010/dec/sf1?get=P001001,NAME&for=zip%20code%20tabulation%20area:*&key="

# Build query URL
query_url = url + census_key

census_response = requests.get(query_url)
census_json = census_response.json()

census_zip_pd = pd.DataFrame(census_json)

# Dropping old Name columns 
census_zip_pd.drop(columns =[1], inplace = True) 

# Drop column labels
ohio_zip = census_zip_pd.drop([census_zip_pd.index[0]])

# rename columns
ohio_zip.columns = ['Pop', 'Zip']

# rearrange columns
ohio_zip = ohio_zip[['Zip', 'Pop']]

#convert population to int
ohio_zip['Pop'] = ohio_zip['Pop'].astype(int)



# filter down to state of ohio
#ohio_zip = ohio_zip.loc[(ohio_zip['State'] == "Ohio")]

ohio_zip

         Zip    Pop
1      77477  35897
2      77478  24739
3      77479  74514
4      77480   8097
5      77481     35
...      ...    ...
33116  01841  47225
33117  01851  30190
33118  01852  33508
33119  01886  21951
33120  01887  22325

[33120 rows x 2 columns]

In [23]:
# remove extra numbers in Ohio Accident Zipcode field to just 5 characters
#  accident_ohio
#df['collection_status'] = df['zip_code'].str[:5]

accident_ohio['Zip'] = accident_ohio['Zipcode'].str[:5]
accident_ohio

C:\Users\Matt\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,ID,Severity,Start_Time,Start_Lat,Start_Lng,Street,County,State,Zipcode,Weather_Timestamp,...,Wind_Direction,Wind_Speed(mph),Precipitation(in),Weather_Condition,AccidentJoin,Unnamed: 0,Date,Holiday,HolidayJoin,Zip
16604,A-182194,2,2017-01-09,41.722279,-83.536194,N Detroit Ave,Lucas,OH,43612,2017-01-09 07:34:00,...,South,8.1,NaN,Overcast,20170109,NaN,NaT,NaN,NaN,43612
16699,A-182289,3,2017-01-10,41.721436,-83.501366,I-75 S,Lucas,OH,43612,2017-01-10 07:14:00,...,South,6.9,NaN,Light Snow,20170110,NaN,NaT,NaN,NaN,43612
16850,A-182440,2,2017-01-11,41.727242,-83.524315,Stickney Ave,Lucas,OH,43612,2017-01-11 08:14:00,...,SSW,6.9,NaN,Clear,20170111,NaN,NaT,NaN,NaN,43612
16851,A-182441,2,2017-01-11,41.715591,-83.506302,N Matzinger Rd,Lucas,OH,43612,2017-01-11 08:14:00,...,SSW,6.9,NaN,Clear,20170111,NaN,NaT,NaN,NaN,43612
17137,A-182727,2,2017-01-16,41.728321,-83.493790,Rosemar Rd,Lucas,OH,43611-1013,2017-01-16 06:54:00,...,Calm,NaN,NaN,Overcast,20170116,61.0,2017-01-16,"Birthday of Martin Luther King, Jr.",20170116.0,43611
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1610798,A-2899004,2,2017-08-30,41.124679,-80.750035,I-80 E,Mahoning,OH,44440,2017-08-30 12:51:00,...,Variable,4.6,NaN,Mostly Cloudy,20170830,NaN,NaT,NaN,NaN,44440
1610799,A-2899005,2,2017-08-30,41.123653,-80.749362,OH-11 N,Mahoning,OH,44440,2017-08-30 12:51:00,...,Variable,4.6,NaN,Mostly Cloudy,20170830,NaN,NaT,NaN,NaN,44440
1610811,A-2899017,4,2017-08-30,41.035470,-81.561750,I-277 W,Summit,OH,44314,2017-08-30 15:54:00,...,SSW,5.8,NaN,Mostly Cloudy,20170830,NaN,NaT,NaN,NaN,44314
1610817,A-2899023,2,2017-08-30,39.980350,-82.961440,I-670 E,Franklin,OH,43219,2017-08-30 16:51:00,...,North,4.6,NaN,Mostly Cloudy,20170830,NaN,NaT,NaN,NaN,43219
1610820,A-2899026,2,2017-08-30,39.163240,-84.434290,I-71 N,Hamilton,OH,45209,2017-08-30 17:53:00,...,SSE,3.5,NaN,Clear,20170830,NaN,NaT,NaN,NaN,45209

In [24]:
# merge ohio accident with zip code population
# accident_ohio       ohio_zip

accident_ohio_zip = accident_ohio.merge(ohio_zip,how='left', left_on='Zip', right_on='Zip')

accident_ohio_zip

,ID,Severity,Start_Time,Start_Lat,Start_Lng,Street,County,State,Zipcode,Weather_Timestamp,...,Wind_Speed(mph),Precipitation(in),Weather_Condition,AccidentJoin,Unnamed: 0,Date,Holiday,HolidayJoin,Zip,Pop
0,A-182194,2,2017-01-09,41.722279,-83.536194,N Detroit Ave,Lucas,OH,43612,2017-01-09 07:34:00,...,8.1,NaN,Overcast,20170109,NaN,NaT,NaN,NaN,43612,29674
1,A-182289,3,2017-01-10,41.721436,-83.501366,I-75 S,Lucas,OH,43612,2017-01-10 07:14:00,...,6.9,NaN,Light Snow,20170110,NaN,NaT,NaN,NaN,43612,29674
2,A-182440,2,2017-01-11,41.727242,-83.524315,Stickney Ave,Lucas,OH,43612,2017-01-11 08:14:00,...,6.9,NaN,Clear,20170111,NaN,NaT,NaN,NaN,43612,29674
3,A-182441,2,2017-01-11,41.715591,-83.506302,N Matzinger Rd,Lucas,OH,43612,2017-01-11 08:14:00,...,6.9,NaN,Clear,20170111,NaN,NaT,NaN,NaN,43612,29674
4,A-182727,2,2017-01-16,41.728321,-83.493790,Rosemar Rd,Lucas,OH,43611-1013,2017-01-16 06:54:00,...,NaN,NaN,Overcast,20170116,61.0,2017-01-16,"Birthday of Martin Luther King, Jr.",20170116.0,43611,19207
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31310,A-2899004,2,2017-08-30,41.124679,-80.750035,I-80 E,Mahoning,OH,44440,2017-08-30 12:51:00,...,4.6,NaN,Mostly Cloudy,20170830,NaN,NaT,NaN,NaN,44440,4967
31311,A-2899005,2,2017-08-30,41.123653,-80.749362,OH-11 N,Mahoning,OH,44440,2017-08-30 12:51:00,...,4.6,NaN,Mostly Cloudy,20170830,NaN,NaT,NaN,NaN,44440,4967
31312,A-2899017,4,2017-08-30,41.035470,-81.561750,I-277 W,Summit,OH,44314,2017-08-30 15:54:00,...,5.8,NaN,Mostly Cloudy,20170830,NaN,NaT,NaN,NaN,44314,18825
31313,A-2899023,2,2017-08-30,39.980350,-82.961440,I-670 E,Franklin,OH,43219,2017-08-30 16:51:00,...,4.6,NaN,Mostly Cloudy,20170830,NaN,NaT,NaN,NaN,43219,27123
31314,A-2899026,2,2017-08-30,39.163240,-84.434290,I-71 N,Hamilton,OH,45209,2017-08-30 17:53:00,...,3.5,NaN,Clear,20170830,NaN,NaT,NaN,NaN,45209,9605